.divider {
  width: 100%;
  overflow: hidden;
  line-height: 0;

  svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 50px;

    transform: scale(1, -1);
  }
}

.fill {
  fill: #212121;
}
