.services {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #212121;
  color: white;

  h2 {
    font-size: 2em;
  }
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  article {
    width: 300px;
    margin: 25px;
    padding: 25px;

    border: white 1px solid;

    h3 {
      text-align: center;
    }
    p {
      text-align: justify;
    }
  }
}
