@use "@/styles/variables" as v;
@use "@/styles/shadow" as s;

.adminMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  min-height: calc(100vh - 80px);

  button,
  a {
    @extend %buttonShadow;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 250px;
    height: 180px;
    padding: 16px;
    margin: 40px;

    border-radius: v.$radius;
    color: white;

    text-align: center;
    font-weight: bold;
    font-size: larger;

    transition: background-color 80ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.red {
  background-color: v.$primary;
  &:hover {
    background-color: v.$primaryHover;
  }
  &:focus {
    background-color: v.$primaryFocus;
  }
}

.yellow {
  background-color: #ff9926;
  &:hover {
    background-color: #ffba6b;
  }
  &:focus {
    background-color: #ff8800;
  }
}

.cyan {
  background-color: #00e4c5;
  &:hover {
    background-color: #41ffe6;
  }
  &:focus {
    background-color: #1daa97;
  }
}

button.disabled {
  color: rgba(0, 0, 0, 0.26);
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: none;

  &:hover {
    box-shadow: none;
  }
}
