@use "@/styles/variables.module" as v;

.adminMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  height: 100%;
}

a.bigButton {
  width: 250px;
  height: 180px;
  padding: 16px;
  margin: 40px;
  text-align: center;
  font-size: larger;
  text-transform: none;
}

a.orange {
  background-color: #ff9926;
  &:focus {
    background-color: #ffca5a;
  }
  &:hover {
    background-color: #c66a00;
  }
}

a.cyan {
  background-color: #0277bd;
  &:focus {
    background-color: #58a5f0;
  }
  &:hover {
    background-color: #004c8c;
  }
}

a.green {
  background-color: #2e7d32;
  &:focus {
    background-color: #60ad5e;
  }
  &:hover {
    background-color: #005005;
  }
}
