.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
}

.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;

  & > img {
    margin-bottom: 40px;

    @media (max-width: 767px) {
      width: 100px;
    }
  }
}
