@use "/src/styles/variables" as v;
@use "/src/styles/shadow" as s;

.equipment {
  margin: 80px;
  padding: 40px;
  border-radius: v.$radius;

  width: 600px;
  max-width: 50vw;

  @include s.box_shadow(3);
}
