@use "/src/styles/variables" as v;

.equipment {
  margin: 80px;
  padding: 40px;
  border-radius: v.$radius;

  width: 600px;
  max-width: 50vw;

  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12),
    0 3px 3px -2px rgba(0, 0, 0, 0.4);
}
