@use "/src/styles/variables" as v;
@use "/src/styles/shadow" as s;

.product {
  margin: 80px;
  padding: 40px;
  border-radius: v.$radius;

  width: 1200px;
  max-width: 90vw;

  @include s.box_shadow(3);

  h2 {
    text-align: center;
  }

  img {
    margin: 0px;
  }
}

.flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}
