@use "/src/styles/variables" as v;
@use "/src/styles/shadow" as s;

.product {
  margin: 80px;
  padding: 40px;
  border-radius: v.$radius;

  width: 1000px;
  max-width: 80vw;

  @include s.box_shadow(3);
}
