@use "/src/styles/variables" as v;
@use "/src/styles/shadow" as s;
@use "/src/styles/media" as m;

.track {
  min-height: calc(100vh - 80px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;

    font-size: 3.75rem;
    margin-top: 0;
    padding: 16px;
    span {
      color: v.$primary;
    }

    @include m.forMedium() {
      margin-bottom: 10px;
    }
  }
}

.search {
  display: flex;
  overflow: hidden;
  border-radius: v.$radius;

  @extend %animatedShadow;

  input {
    all: unset;
    width: 600px;
    max-width: 50vw;
    height: 50px;

    margin: 6px 12px;

    @include m.forMedium() {
      height: 40px;
    }
  }

  button {
    padding: 6px 12px;

    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.12em;

    background-color: v.$primary;
    color: white;
    &:hover {
      background-color: v.$primaryHover;
    }
    &:focus {
      background-color: v.$primaryFocus;
      color: #ebebeb;
    }

    @include m.forMedium() {
      font-size: 1rem;
      padding: 3px 6px;
    }
  }
}
