.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field {
  color: #525252;
  font-size: 18px;

  display: flex;
  flex-direction: column;

  input {
    margin-top: 8px;

    background: #f5f5f5;
    border-radius: 4px;
    padding: 0 16px;
    font-size: 18px;
    color: #525252;
    border: none;
    height: 48px;

    &.invalid {
      outline: auto 1px;
      outline-color: #dd4a4a;
      animation: shake 0.4s linear;
    }
  }
}

.error {
  color: #dd4a4a;
  margin-top: 12px;
  font-size: 18px;
}

.button {
  appearance: none;
  background: #2ec27e;
  border-radius: 52px;
  border: none;
  padding: 12px 32px;
  font-size: 20px;
  color: #fff;
  margin-top: 32px;
  cursor: pointer;
  text-align: center;
}

@keyframes shake {
  8%,
  41% {
    transform: translateX(-10px);
  }
  25%,
  58% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-5px);
  }
  92% {
    transform: translateX(5px);
  }
  0%,
  100% {
    transform: translateX(0);
  }
}
