@use "@/styles/variables.module" as v;

.search {
  display: flex;
  overflow: hidden;

  input {
    all: unset;
    width: 600px;
    max-width: 50vw;
    height: 50px;

    margin: 6px 12px;

    @media screen and (max-width: 850px) {
      height: 40px;
    }
  }

  button {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.12em;

    border-radius: 0;

    @media screen and (max-width: 850px) {
      font-size: 1rem;
    }
  }
}
