@use "/src/styles/variables" as v;

.screen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  min-height: 100vh;

  h2 {
    font-size: 2em;
  }
}

.dark {
  background-color: v.$dark-background;
  color: white;
}
