html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
}

#__next {
  display: flex;
  flex-flow: column;

  justify-content: space-between;
  min-height: 100vh;
}

main {
  display: contents;
}
