@use "/src/styles/variables" as v;

%button {
  all: unset;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  box-sizing: border-box;

  padding: 6px 12px;

  border: white solid 2px;
  border-radius: v.$radius;
  color: white;

  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.12em;

  transition: background-color 80ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #2e2e2e;
  }

  &:focus {
    background-color: #bdbdbd;
  }

  img {
    margin-right: 8px;
  }
}
