.info {
  margin: 32px 8px;

  h3 {
    margin: 0;
    font-weight: normal;
    font-size: x-large;
    letter-spacing: 1px;
  }

  p {
    margin: 0;
    font-size: large;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;

  thead {
    border-bottom: 1px solid gray;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 1px;

    text-transform: uppercase;

    th {
      padding: 8px;
      font-weight: normal;
    }
  }

  tbody,
  tfoot {
    font-weight: bold;
    font-size: 1rem;

    td {
      padding: 16px 8px;
    }
  }

  tfoot {
    border-top: 1px solid gray;

    font-size: 1.8em;
  }

  tr {
    th,
    td {
      text-align: center;
    }

    :first-child {
      text-align: left;
    }

    :last-child {
      text-align: right;
    }
  }
}

.end {
  display: flex;
  justify-content: flex-end;
  p {
    margin-right: 8px;
    font-size: large;
  }
}
