@use "../../styles/media" as m;

.about {
  min-height: calc(100vh - 80px);
  flex-direction: row;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 40%;
    width: min-content;
    h1 {
      font-size: 3em;
      text-align: center;
    }

    p {
      text-align: justify;
    }
  }

  img {
    max-width: 50%;
  }

  @include m.forMedium() {
    flex-direction: column;
    section {
      min-width: 80%;
    }
  }
}
