@use "@/styles/variables.module" as v;

.list {
  list-style: none;
  margin-top: 32px;
  padding: 0;

  p {
    margin: 0;
  }
}

.item {
  .flex {
    display: flex;
    margin-top: 4px;
    margin-bottom: 16px;
    .time {
      padding-right: 16px;
    }
    .text {
      padding-left: 16px;
      border-left: #00000038 1px solid;
    }
  }
}
