@use "@/styles/variables.module" as v;

.product {
  margin: 80px;
  padding: 40px;

  width: 1200px;
  max-width: 90vw;

  h2 {
    text-align: center;
  }

  img {
    margin: 0px;
  }
}

.flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 850px) {
    justify-content: center;

    img {
      height: 80px;
    }
  }
}

.loading {
  margin: 32px;
}
