.page {
  height: 297mm;
  width: 210mm;
  min-height: 297mm;
  min-width: 210mm;
  max-width: 210mm;

  margin: auto;
  border: 1px solid black;
  padding: 16px;
  font-size: 12px;

  background-color: white;
  color: #212121;
  hr {
    border: 1px black dashed;
  }

  @media print {
    position: absolute;

    z-index: 9999;
    left: 0;
    top: 0;

    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: auto;
    max-height: auto;

    hr {
      border: none;
    }
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;

  th,
  td {
    border: 1px solid black;
    padding: 0 5px;
    text-align: left;
  }

  th,
  span {
    background-color: gray;
    color: white;
  }

  span {
    font-weight: bold;
    color: gray;
    background-color: white;
  }

  .alignCenter {
    text-align: center;
  }

  .disableBorder {
    border: none;
  }

  .enableTopBorder {
    border-top: 1px solid black;
  }

  .signature {
    margin: auto;
    margin-top: 40px;
    padding: 5px 40px;
    border-top: 1px solid black;
    text-align: center;
    width: min-content;

    white-space: nowrap;
  }

  .flex {
    display: flex;
  }
}

.info {
  display: flex;
  background-color: gray;
  margin-top: 16px;

  p {
    text-align: justify;
    font-weight: bold;

    padding: 16px;
    margin: 0;
  }

  div {
    display: contents;
  }
}
