.table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    border: 1px solid black;
    padding: 0 5px;
    text-align: left;
  }

  th,
  span {
    background-color: gray;
    color: white;
  }

  span {
    background-color: white;
    color: gray;
    font-weight: bold;
  }

  .alignCenter {
    text-align: center;
  }

  .disableBorder {
    border: none;
  }

  .enableTopBorder {
    border-top: 1px solid black;
  }

  .signature {
    margin: auto;
    margin-top: 40px;
    border-top: 1px solid black;
    padding: 5px 40px;
    width: min-content;
    text-align: center;

    white-space: nowrap;
  }

  .flex {
    display: flex;
  }
}

.info {
  display: flex;
  margin-top: 16px;
  background-color: gray;

  p {
    margin: 0;

    padding: 16px;
    font-weight: bold;
    text-align: justify;
  }

  div {
    display: contents;
  }
}
