.divider {
  width: 100%;
  overflow: hidden;
  line-height: 0;

  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 64px;
  }
}

.fill {
  fill: #212121;
}
