@use "/src/styles/variables" as v;
@use "/src/styles/media" as m;
@use "/src/styles/button" as b;

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include m.forMedium() {
    margin: 16px;
  }

  padding: 16px;
  border: white solid 1px;
  border-radius: v.$radius;
}

.row {
  display: flex;
  gap: 16px;

  @include m.forMedium() {
    flex-direction: column;
  }
}

.textField {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 600;
  }

  input,
  textarea {
    all: unset;
    place-items: center;
    padding: 12px;

    margin-top: 8px;

    border: 1px solid #ffffff80;
    font-size: 1rem;
    line-height: 1.5rem;

    &:hover {
      border-color: white;
    }

    &:focus {
      border-width: 2px;
      padding: 11px;
      border-color: white;
    }
  }

  textarea {
    flex-grow: 1;
    resize: none;
    overflow-wrap: break-word;
    min-height: 256px;
  }
}

.send {
  @extend %button;

  align-self: flex-end;
  background-color: v.$primary;

  &:hover {
    background-color: v.$primaryHover;
  }

  &:focus {
    background-color: v.$primaryFocus;
  }
}
