.header {
  display: flex;
  justify-content: center;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 80%;
    padding: 20px;
  }
}

.image {
  line-height: 0;
}

.headerButton {
  margin-left: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  color: #000000cc;

  &:hover,
  &:focus,
  &:active {
    color: #000000;
  }
}

.contact {
  color: #c00000cc;

  &:hover,
  &:focus,
  &:active {
    color: #c00000;
  }
}
