@use "@/styles/media" as m;
@use "@/styles/variables.module" as v;

.layout {
  display: flex;
  height: 100%;

  @media screen and (max-width: 1023px) {
    flex-direction: column;
  }
}

.main {
  flex: 1;
  padding: 1vw;

  overflow-x: hidden;
}
