.flex {
  display: flex;
  align-items: center;
  gap: 16px;

  @media screen and (max-width: 850px) {
    flex-wrap: wrap;
  }
}

.flexNoWrap {
  display: flex;
  align-items: center;

  min-width: 400px;
  gap: 8px;
}

.width {
  width: 100%;
}
