@use "@/styles/variables.module" as v;

.list {
  margin-top: 32px;
  padding: 0;
  list-style: none;

  p {
    margin: 0;
  }
}

.item {
  .date {
    text-transform: capitalize;
    span {
      text-transform: lowercase;
    }
  }

  .flex {
    display: flex;
    margin-top: 4px;
    margin-bottom: 16px;
    .time {
      padding-right: 16px;
    }
    .text {
      border-left: #00000038 1px solid;
      padding-left: 16px;
    }
  }
}
