.aside {
  width: 300px;

  @media screen and (max-width: 1023px) {
    display: contents;
  }

  @media print {
    display: none;
  }
}

.menuButton {
  margin-left: 8px;
  margin-top: 8px;
}

.drawer > div {
  width: 300px;

  @media screen and (max-width: 1023px) {
    &:first-child {
      width: auto;
    }
  }

  ul a {
    display: contents;
    text-decoration: none;
    color: inherit;
  }
}

.image {
  line-height: 0;

  text-align: center;
  padding: 16px;
}

div.active {
  background-color: #f5f5f5;
  transition: none;

  :global(.dark) & {
    background-color: #0a0a0a;
  }
}
