.flex {
  display: flex;
  align-items: center;
  gap: 16px;

  @media screen and (max-width: 850px) {
    flex-wrap: wrap;
  }
}

.flexNoWrap {
  display: flex;
  align-items: center;
  gap: 8px;

  min-width: 400px;
}

.minWidth {
  min-width: 200px;

  @media screen and (max-width: 850px) {
    width: 100%;
  }
}

.maxWidth {
  width: 100%;
}
